# variables needed for prod deploy
# True ignores regex, false includes regex (defaults to false if not set)
USE_STATIC_ONLY=true

# variables needed for testing only, comment out for prod deploy
HOST=localhost
POST=9926
SCHEME=https
USERNAME=HDB_ADMIN
PASSWORD=password
AUTH=true
