# True ignores regex, false includes regex (defaults to false if not set)
USE_STATIC_ONLY=true

# For performance testing scripts to load sample data
HOST=cust-env-region.harperdbcloud.com
PORT=9926
HDB_USERNAME=HDB_ADMIN
HDB_PASSWORD='the_password'
